.section__banner{
    min-height: 78.1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-2);
}

.banner__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25rem 23.6rem 25rem 23.6rem;
    gap: 4.4rem;
}

.section__banner h1{
    font: var(--title1);
    color: var(--gray-6);
}

.section__banner span{
    color: var(--brand-1);
}

.banner__text{
    color: var(--gray-4);
    font: var(--text4);
}

.banner__button{
    width: 15rem;
    height: 6rem;
    padding: 2rem 3.2rem;
    background-color: var(--brand-1);
    font: var(--text4);
    color: var(--gray-7);
    border: none;
}

.banner__button:hover{
    cursor: pointer;
}